<section class="section">
  <div class="container container--max benefits">
    <div class="section__head">
      <p class="section__head-title text5">преимущества</p>
      <p class="section__head-discription text1">
        ЕСК – всероссийская компания, специализирующаяся на аутсорсинге
        промышленно-хозяйственных функций для крупных предприятий
      </p>
    </div>

    <div class="benefits__box">
      <nav class="benefits__list">
        <a
          href="#"
          class="benefits__item">
          <div class="benefits__item-head">
            <span class="benefits__item-icon">
              <img
                src="./src/images/svg/quality.svg"
                alt="" />
            </span>
            <p class="benefits__item-title text3">
              Большой опыт работы на удаленных объектах
            </p>
          </div>

          <div class="benefits__item-content text1">
            Имеем большой опыт обслуживания объектов в отдаленных регионах
            со сложным рельефом и суровыми климатическими условиями
          </div>
        </a>

        <a
          href="#"
          class="benefits__item">
          <div class="benefits__item-head">
            <span class="benefits__item-icon">
              <img
                src="./src/images/svg/shield.svg"
                alt="" />
            </span>
            <p class="benefits__item-title text3">
              Система контроля качества
            </p>
          </div>

          <div class="benefits__item-content text1">
            Уделяем особое внимание технике безопасности, охране труда,
            соблюдаем стандарты ХАССП
          </div>
        </a>

        <a
          href="#"
          class="benefits__item">
          <div class="benefits__item-head">
            <span class="benefits__item-icon">
              <img
                src="./src/images/svg/calc.svg"
                alt="" />
            </span>
            <p class="benefits__item-title text3">
              Автоматизированный учет
            </p>
          </div>

          <div class="benefits__item-content text1">
            Повышаем эффективность и точность учета питающихся и проживающих
            с автоматизированной системой
          </div>
        </a>

        <a
          href="#"
          class="benefits__item">
          <div class="benefits__item-head">
            <span class="benefits__item-icon">
              <img
                src="./src/images/svg/time.svg"
                alt="" />
            </span>
            <p class="benefits__item-title text3">Быстрый запуск проекта</p>
          </div>

          <div class="benefits__item-content text1">
            Быстрые сроки запуска услуг на объекте: гарантированная
            эффективность и безотказная работа
          </div>
        </a>

        <a
          href="#"
          class="benefits__item">
          <div class="benefits__item-head">
            <span class="benefits__item-icon">
              <img
                src="./src/images/svg/hand-heart.svg"
                alt="" />
            </span>
            <p class="benefits__item-title text3">Индивидуальный подход</p>
          </div>

          <div class="benefits__item-content text1">
            Разрабатываем уникальные решения, учитывая все особенности и
            пожелания каждого конкретного клиента
          </div>
        </a>

        <a
          href="#"
          class="benefits__item">
          <div class="benefits__item-head">
            <span class="benefits__item-icon">
              <img
                src="./src/images/svg/rate.svg"
                alt="" />
            </span>
            <p class="benefits__item-title text3">Единый подрядчик</p>
          </div>

          <div class="benefits__item-content text1">
            Разрабатываем уникальные решения, учитывая все особенности и
            пожелания каждого конкретного клиента
          </div>
        </a>
      </nav>
    </div>
  </div>
</section>