<header class="header">
	<div class="container">
		<button class="burger__btn">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="44"
				height="44"
				viewBox="0 0 44 44"
				fill="none">
				<path
					d="M6.875 22H37.125"
					stroke="#343333"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round" />
				<path
					d="M6.875 11H37.125"
					stroke="#343333"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round" />
				<path
					d="M6.875 33H37.125"
					stroke="#343333"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round" />
			</svg>
		</button>

		<a
			class="logo"
			href="#">
			<img
				src="./src/images/svg/logo.svg"
				alt="" />
		</a>

		<div class="nav">
			<nav class="nav__links">
				<a
					href=""
					class="nav__links-item text1">
					Услуги
				</a>
				<a
					href=""
					class="nav__links-item text1">
					О компании
				</a>
				<a
					href=""
					class="nav__links-item text1">
					Вакансии
				</a>
				<a
					href=""
					class="nav__links-item text1">
					Контакты
				</a>
			</nav>

			<a
				href="mailto:info@esccom.ru"
				class="nav__links-item text1 nav__links-item--email">
				info@esccom.ru
			</a>

			<button class="request-btn request-btn--dark leave-request">
				<div class="request-btn__box">
					<span class="request-btn__text">Оставить заявку</span>
				</div>
				<span class="request-btn__icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
						<path d="M2.75982 15.046C2.91305 16.2105 3.48493 17.2794 4.36865 18.053C5.25237 18.8267 6.38749 19.2522 7.562 19.2501C14.3854 19.2501 19.937 13.6985 19.937 6.87507C19.9391 5.70055 19.5136 4.56543 18.74 3.68171C17.9663 2.798 16.8974 2.22612 15.7329 2.07288C15.4385 2.03693 15.1403 2.09717 14.8829 2.24462C14.6254 2.39207 14.4226 2.61881 14.3047 2.89101L12.4897 6.94296V6.95327C12.3994 7.16163 12.3621 7.38911 12.3811 7.6154C12.4001 7.84169 12.4749 8.05974 12.5988 8.25007C12.6143 8.27327 12.6306 8.29476 12.6478 8.31624L14.437 10.4372C13.7933 11.7451 12.4252 13.1012 11.1001 13.7466L9.00833 11.9669C8.98779 11.9496 8.96627 11.9335 8.94388 11.9187C8.75371 11.7919 8.53491 11.7145 8.30728 11.6935C8.07965 11.6725 7.85038 11.7085 7.64021 11.7984L7.62903 11.8036L3.58052 13.6177C3.30784 13.7353 3.08055 13.9379 2.93261 14.1954C2.78468 14.4528 2.72406 14.7512 2.75982 15.046Z" fill="white"/>
						</svg>
				</span>
			</button>
		</div>
	</div>
	<div class="burger">
		<div class="burger__box">
			<div class="burger__close-btn">
				<img
					src="./src/images/svg/close-btn.svg"
					alt="" />
			</div>

			<a
				class="logo"
				href="#">
				<img
					src="./src/images/svg/logo.svg"
					alt="" />
			</a>

			<nav class="burger__nav">
				<a
					class="burger__nav-item title3"
					href="#">
					услуги
				</a>
				<a
					class="burger__nav-item title3"
					href="#">
					проекты
				</a>
				<a
					class="burger__nav-item title3"
					href="#">
					вакансии
				</a>
				<a
					class="burger__nav-item title3"
					href="#">
					контакты
				</a>
				<a
					class="burger__nav-item title3"
					href="#">
					о компании
				</a>
				<a
					class="burger__nav-item burger__nav-item--email text3"
					href="mailto:info@esccom.ru">
					info@esccom.ru
				</a>
				<a
					class="burger__nav-item title3"
					href="tel:+7(821)4960014">
					+ 7 (821) 496 00-14
				</a>
			</nav>
			<button class="request-btn request-btn--dark leave-request">
				<div class="request-btn__box">
					<span class="request-btn__text">Оставить заявку</span>
				</div>
				<span class="request-btn__icon">
					<svg
						width="32"
						height="32"
						viewBox="0 0 32 32"
						fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<path
							d="M10.6666 22L22 10.6667M22 10.6667V20M22 10.6667H12.6666"
							stroke="#343333"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round" />
					</svg>
				</span>
			</button>
		</div>
	</div>
</header>
