<header class="header header--dark">
	<div class="container">
		<button class="burger__btn">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="44"
				height="44"
				viewBox="0 0 44 44"
				fill="none">
				<path
					d="M6.875 22H37.125"
					stroke="#343333"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round" />
				<path
					d="M6.875 11H37.125"
					stroke="#343333"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round" />
				<path
					d="M6.875 33H37.125"
					stroke="#343333"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round" />
			</svg>
		</button>

		<a
			class="logo"
			href="./main.html">
			<div class="logo__bg">
				<img
					src="./src/images/webp/logo-bg.webp"
					alt="" />
			</div>
			<div class="logo__img">
				<img
					src="./src/images/webp/logo.webp"
					alt="" />
			</div>

			<div class="logo__img logo__img--mob">
				<img
					src="./src/images/webp/logo-mob.webp"
					alt="" />
			</div>
		</a>

		<div class="nav nav--dark">
			<nav class="nav__links">
				<a
					href="./service.html"
					class="nav__links-item text1">
					Услуги
				</a>
				<a
					href="./about.html"
					class="nav__links-item text1">
					О компании
				</a>
				<a
					href="./vacancies.html"
					class="nav__links-item text1">
					Вакансии
				</a>
				<a
					href="./contacts.html"
					class="nav__links-item text1">
					Контакты
				</a>
			</nav>

			<a
				href="mailto:info@esccom.ru"
				class="nav__links-item text1 nav__links-item--email">
				info@esccom.ru
			</a>

			<button
				class="request-btn request-btn--dark request-btn--arrow leave-request">
				<div class="request-btn__box">
					<span class="request-btn__text">Оставить заявку</span>
				</div>
				<span class="request-btn__icon">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="22"
						height="22"
						viewBox="0 0 22 22"
						fill="none">
						<path
							d="M7.3335 15.1249L15.1252 7.33325M15.1252 7.33325V13.7499M15.1252 7.33325H8.7085"
							stroke="white"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round" />
					</svg>
				</span>
			</button>
		</div>
	</div>
</header>
<div class="burger">
	<div class="burger__box">
		<div class="burger__close-btn">
			<img
				src="./src/images/svg/close-btn.svg"
				alt="" />
		</div>

		<a
			class="logo"
			href="./main.html">
			<div class="logo__bg">
				<img
					src="./src/images/webp/logo-bg.webp"
					alt="" />
			</div>
			<div class="logo__img">
				<img
					src="./src/images/webp/logo.webp"
					alt="" />
			</div>

			<div class="logo__img logo__img--mob">
				<img
					src="./src/images/webp/logo-mob.webp"
					alt="" />
			</div>
		</a>

		<nav class="burger__nav">
			<a
				class="burger__nav-item title3"
				href="./service.html">
				услуги
			</a>

			<a
				class="burger__nav-item title3"
				href="./vacancies.html">
				вакансии
			</a>
			<a
				class="burger__nav-item title3"
				href="./contacts.html">
				контакты
			</a>
			<a
				class="burger__nav-item title3"
				href="./about.html">
				о компании
			</a>
			<a
				class="burger__nav-item burger__nav-item--email text3"
				href="mailto:info@esccom.ru">
				info@esccom.ru
			</a>
			<a
				class="burger__nav-item title3"
				href="tel:+7(821)4960014">
				+ 7 (821) 496 00-14
			</a>
		</nav>
		<button
			class="request-btn request-btn--dark request-btn--arrow leave-request">
			<div class="request-btn__box">
				<span class="request-btn__text">Оставить заявку</span>
			</div>
			<span class="request-btn__icon">
				<svg
					width="32"
					height="32"
					viewBox="0 0 32 32"
					fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M10.6666 22L22 10.6667M22 10.6667V20M22 10.6667H12.6666"
						stroke="#343333"
						stroke-width="1.5"
						stroke-linecap="round"
						stroke-linejoin="round" />
				</svg>
			</span>
		</button>
	</div>
</div>
