<section class="section">
  <div class="container container--max partners">
    <div class="section__head">
      <p class="section__head-title text5">партнеры</p>
    </div>

    <div class="partners__box">
      <div class="partners__row">
        <div class="partners__list swiper-partners swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/sber.webp"
                alt="" />
            </li>
            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/rosneft.webp"
                alt="" />
            </li>
            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/lukoil.webp"
                alt="" />
            </li>
            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/zarubej.webp"
                alt="" />
            </li>
            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/trans.webp"
                alt="" />
            </li>
            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/siemen.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/gaz.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/slb.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/baker.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/global.webp"
                alt="" />
            </li>
          </ul>
        </div>
      </div>
      <div class="partners__row">
        <div class="partners__list swiper-partners2 swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/slb.webp"
                alt="" />
            </li>
            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/baker.webp"
                alt="" />
            </li>
            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/global.webp"
                alt="" />
            </li>
            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/neftifa.webp"
                alt="" />
            </li>
            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/rbp.webp"
                alt="" />
            </li>
            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/ceb.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/ctg.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/sber.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/rosneft.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/lukoil.webp"
                alt="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>