<section class="section">
  <div class="container container--max partners">
    <div class="section__head">
      <p class="section__head-title text5">партнеры</p>
    </div>

    <div class="partners__box">
      <div class="partners__row">
        <div class="partners__list swiper-partners swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/sber.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/rosneft.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/lukoil.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/zarubej.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/trans.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/bashneft.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/siements.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/gazprom.webp"
                alt="" />
            </li>

            
            
          </ul>
        </div>
      </div>
      <div class="partners__row">
        <div class="partners__list swiper-partners2 swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/slb.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/baker.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/globalstroy.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/neftisa.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/pbp.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/gebmash.webp"
                alt="" />
            </li>

            <li class="swiper-slide partners__list-item">
              <img
                src="./src/images/webp/stg.webp"
                alt="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>