<section class="section">
  <div class="container container--max certificate">
    <div class="section__head">
      <p class="section__head-title text5">сертификаты</p>
      <div class="section__arrows">
        <div class="swiper-pagination paggination-arrows">
          <span
            class="certificate__pagination-arrow paggination-arrow prev">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none">
              <path
                d="M34.5 20H6"
                stroke="#343333"
                stroke-width="1.5"
                stroke-linecap="round" />
              <path
                d="M11.25 26L6 20L11.25 14"
                stroke="#343333"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </span>
          <span
            class="certificate__pagination-arrow paggination-arrow next">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none">
              <path
                d="M6 20H34.5"
                stroke="#343333"
                stroke-width="1.5"
                stroke-linecap="round" />
              <path
                d="M29.25 14L34.5 20L29.25 26"
                stroke="#343333"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </span>
        </div>
      </div>
    </div>

    <div class="certificate__box">
      <div class="certificate__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide certificate__item">
            <div class="certificate__item-img">
              <img
                src="./src/images/webp/certificate-1.webp"
                alt="" />
            </div>

            <button class="increase-btn certificate__show-btn">
              <img
                src="./src/images/svg/loupe.svg"
                alt="" />
            </button>

            <div class="certificate__item-description">
              <p class="text2">Сертификат соответствия</p>
              <p class="text1">Система охраны труда</p>
            </div>
          </div>

          <div class="swiper-slide certificate__item">
            <div class="certificate__item-img">
              <img
                src="./src/images/webp/certificate-1.webp"
                alt="" />
            </div>

            <button class="increase-btn certificate__show-btn">
              <img
                src="./src/images/svg/loupe.svg"
                alt="" />
            </button>

            <div class="certificate__item-description">
              <p class="text2">Сертификат соответствия</p>
              <p class="text1">Система охраны труда</p>
            </div>
          </div>

          <div class="swiper-slide certificate__item">
            <div class="certificate__item-img">
              <img
                src="./src/images/webp/certificate-1.webp"
                alt="" />
            </div>

            <button class="increase-btn certificate__show-btn">
              <img
                src="./src/images/svg/loupe.svg"
                alt="" />
            </button>

            <div class="certificate__item-description">
              <p class="text2">Сертификат соответствия</p>
              <p class="text1">Система охраны труда</p>
            </div>
          </div>

          <div class="swiper-slide certificate__item">
            <div class="certificate__item-img">
              <img
                src="./src/images/webp/certificate-1.webp"
                alt="" />
            </div>

            <button class="increase-btn certificate__show-btn">
              <img
                src="./src/images/svg/loupe.svg"
                alt="" />
            </button>

            <div class="certificate__item-description">
              <p class="text2">Сертификат соответствия</p>
              <p class="text1">Система охраны труда</p>
            </div>
          </div>

          <div class="swiper-slide certificate__item">
            <div class="certificate__item-img">
              <img
                src="./src/images/webp/certificate-1.webp"
                alt="" />
            </div>

            <button class="increase-btn certificate__show-btn">
              <img
                src="./src/images/svg/loupe.svg"
                alt="" />
            </button>

            <div class="certificate__item-description">
              <p class="text2">Сертификат соответствия</p>
              <p class="text1">Система охраны труда</p>
            </div>
          </div>

          <div class="swiper-slide certificate__item">
            <div class="certificate__item-img">
              <img
                src="./src/images/webp/certificate-1.webp"
                alt="" />
            </div>

            <button class="increase-btn certificate__show-btn">
              <img
                src="./src/images/svg/loupe.svg"
                alt="" />
            </button>

            <div class="certificate__item-description">
              <p class="text2">Сертификат соответствия</p>
              <p class="text1">Система охраны труда</p>
            </div>
          </div>

          <div class="swiper-slide certificate__item">
            <div class="certificate__item-img">
              <img
                src="./src/images/webp/certificate-1.webp"
                alt="" />
            </div>

            <button class="increase-btn certificate__show-btn">
              <img
                src="./src/images/svg/loupe.svg"
                alt="" />
            </button>

            <div class="certificate__item-description">
              <p class="text2">Сертификат соответствия</p>
              <p class="text1">Система охраны труда</p>
            </div>
          </div>

          <div class="swiper-slide certificate__item">
            <div class="certificate__item-img">
              <img
                src="./src/images/webp/certificate-1.webp"
                alt="" />
            </div>

            <button class="increase-btn certificate__show-btn">
              <img
                src="./src/images/svg/loupe.svg"
                alt="" />
            </button>

            <div class="certificate__item-description">
              <p class="text2">Сертификат соответствия</p>
              <p class="text1">Система охраны труда</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section__arrows section__arrows--mobile">
      <div class="swiper-pagination paggination-arrows">
        <span class="certificate__pagination-arrow paggination-arrow prev">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none">
            <path
              d="M34.5 20H6"
              stroke="#343333"
              stroke-width="1.5"
              stroke-linecap="round" />
            <path
              d="M11.25 26L6 20L11.25 14"
              stroke="#343333"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </span>
        <span class="certificate__pagination-arrow paggination-arrow next">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none">
            <path
              d="M6 20H34.5"
              stroke="#343333"
              stroke-width="1.5"
              stroke-linecap="round" />
            <path
              d="M29.25 14L34.5 20L29.25 26"
              stroke="#343333"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </span>
      </div>
    </div>
  </div>
</section>