.form {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	&__input {
		padding-bottom: 1.2rem;
		@include border(bottom);
		color: $gray;
		font-family: Gilroy;
		font-size: 2rem;
		font-style: normal;
		font-weight: 500;
		line-height: 140%;
		width: 100%;
		position: relative;

		input {
			width: 100%;
			align-items: flex-start;
			&:focus {
				color: $black;
			}
		}

		&.error {
			border-color: $red;

			.form__error {
				opacity: 1;
			}
		}
	}

	&__file {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 1.6rem;

		&-close {
			width: 2.4rem;
			height: 2.4rem;
			cursor: pointer;

			img {
				width: 100%;
				height: 100%;
				-o-object-fit: contain;
				object-fit: contain;
			}
		}

		&-proccess {
			width: 100%;
			display: none;
			gap: 1.6rem;
			align-items: center;

			&-box {
				width: 100%;
				display: flex;
				flex-direction: column;
			}
		}

		&-nubmer-value {
			margin-left: auto;
			color: $gray;
		}

		&-name {
			width: 100%;
			display: flex;
			align-items: flex-start;
			padding-bottom: 0.4rem;

			&-text {
				color: $gray;
			}

			&-icon {
				width: 2.4rem;
				height: 2.4rem;
				margin-right: 0.8rem;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}

		&-btn {
			width: 100%;
			border: 1px solid $gray;
			height: 7.6rem;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			input {
				width: 100%;
				height: 100%;
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		&-title {
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: fit-content;
			display: flex;
			align-items: center;
			color: $gray;
			gap: 1.2rem;
		}

		&-icon {
			width: 2.4rem;
			height: 2.4rem;
			display: block;
			img {
				width: 100%;
				height: 100%;
				-o-object-fit: contain;
				object-fit: contain;
			}
		}
	}

	&__error {
		position: absolute;
		left: 0;
		top: 101%;
		color: $red;
		opacity: 0;
	}

	&__row {
		width: 74rem;
		display: flex;
		gap: 1.6rem;
		align-items: center;
	}

	&__head {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		align-items: flex-start;
		text-align: start;
	}

	@media (max-width: 48em) {
		width: 100%;

		&__file {
			gap: 2rem;
			&-btn {
				height: 12rem;
			}
			&-icon {
				width: 1.8rem * 2;
				height: 2rem * 2;
			}
			&-title {
				gap: 2.4rem;
			}
			&-close {
				width: 4.4rem;
				height: 4.4rem;
			}
			&-name {
				&-icon {
					width: 4.4rem;
					height: 4.4rem;
					margin-right: 1.6rem;
				}
				&-text {
					@include text-hide;
					width: 49rem;
				}
			}
		}

		&__row {
			display: flex;
			flex-direction: column;
			gap: 4rem;
			width: 100%;
		}

		&__error {
			right: 0;
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: fit-content;
			left: auto;
		}

		&__input {
			padding-bottom: 2rem;
			font-size: 3.2rem;
			font-style: normal;
			font-weight: 500;
			line-height: 140%;
		}
	}
}
