<footer class="footer">
	<div class="container">
		<a
			class="logo"
			href="#">
			<img
				src="./src/images/svg/logo.svg"
				alt="" />
		</a>

		<div class="nav nav--dark">
			<nav class="nav__links">
				<a
					href=""
					class="nav__links-item text1">
					Услуги
				</a>
				<a
					href=""
					class="nav__links-item text1">
					О компании
				</a>
				<a
					href=""
					class="nav__links-item text1">
					Статьи
				</a>
				<a
					href=""
					class="nav__links-item text1">
					Вакансии
				</a>
				<a
					href=""
					class="nav__links-item text1">
					Контакты
				</a>
			</nav>

			<a
				href="mailto:info@esccom.ru"
				class="nav__links-item text1 nav__links-item--email">
				info@esccom.ru
			</a>

			<a
				href="tel:+7(821)4960014"
				class="nav__links-item text1 nav__links-item--tel">
				+ 7 (821) 496 00-14
			</a>
		</div>
	</div>
	<div class="container container--max">
		<div class="footer__wrapper">
			<div class="footer__info-box">
				<p class="text4">© 2016-2023 Права защищены</p>
				<a
					href="#"
					class="footer__info-box-right text4">
					Положение об обработке и защите персональных данных сотрудников
				</a>
				<a
					href="#"
					class="footer__developers">
					<span class="footer__developers-icon">
						<img
							src="./src/images/svg/request-dev.svg"
							alt="" />
					</span>
					<p class="text4">Разработано Request Design</p>
				</a>
			</div>
		</div>
	</div>
</footer>

<!-- ваша заявка отправлена -->
<div class="modal request-sended">
	<div class="modal__content">
		<button class="modal__close">
			<img
				src="./src/images/svg/close-btn.svg"
				alt="" />
		</button>
		<p class="modal__title title2">ваша заявка отправлена!</p>
		<a
			class="link-btn"
			href="#">
			<span class="link-btn__text">Продолжить</span>
			<div class="link-btn__icon">
				<img
					src="src/images/svg/arrow-top.svg"
					alt="" />
			</div>
		</a>
	</div>
</div>

<!-- связаться с нами -->
<div class="modal contact-us">
	<div class="modal__content">
		<button class="modal__close">
			<img
				src="./src/images/svg/close-btn.svg"
				alt="" />
		</button>

		<form class="form">
			<div class="form__head">
				<p class="form__title title3">Связаться с нами</p>
				<p class="form__subtitle text1">
					Оставьте свои данные, и наш менеджер свяжется с вами в ближайшее время
				</p>
			</div>
			<div class="form__row">
				<div class="form__input">
					<input
						class="input-name"
						type="text"
						placeholder="Ваше имя" />
					<span class="form__error text1">Обязательно к заполнению!</span>
				</div>

				<div class="form__input">
					<input
						class="input-tel"
						type="number"
						placeholder="Номер телефона" />
					<span class="form__error text1">Неверный формат!</span>
				</div>
			</div>

			<div class="form__row">
				<div class="form__input">
					<input
						class="input-comment"
						type="text"
						placeholder="Комментарий" />
					<span class="form__error text1">Обязательно к заполнению!</span>
				</div>
			</div>

			<div class="form__row">
				<div class="form__file">
					<div class="form__file-btn">
						<input type="file" />
						<div class="form__file-title">
							<span class="form__file-icon">
								<img
									src="./src/images/svg/file.svg"
									alt="" />
							</span>

							<span class="text1">Прикрепить резюме</span>
						</div>
					</div>
					<div class="form__file-proccess">
						<div class="form__file-proccess-box">
							<div class="form__file-name">
								<span class="form__file-name-icon">
									<img
										src="./src/images/svg/file-generic.svg"
										alt="" />
								</span>

								<p class="form__file-name-text text1">filename.png</p>
							</div>
						</div>
						<span class="form__file-close">
							<img
								src="./src/images/svg/close-btn.svg"
								alt="" />
						</span>
					</div>
				</div>
			</div>

			<button class="request-btn request-btn--dark">
				<div class="request-btn__box">
					<span class="request-btn__text">Отправить анкету</span>
				</div>
				<span class="request-btn__icon">
					<svg
						width="32"
						height="32"
						viewBox="0 0 32 32"
						fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<path
							d="M10.6666 22L22 10.6667M22 10.6667V20M22 10.6667H12.6666"
							stroke="#343333"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round" />
					</svg>
				</span>
			</button>
		</form>
	</div>
</div>
<!-- сертификаты -->
<div class="modal certificate-modal">
	<div class="modal__content modal__content--transparent">
		<button class="modal__close">
			<img
				src="./src/images/svg/close-btn-light.svg"
				alt="" />
		</button>

		<div class="certificate-modal__box">
			<div class="certificate-modal-swiper swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
				</div>
			</div>

			<div class="certificate-modal-swiper-thumbs swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
					<div class="swiper-slide certificate-modal-swiper__card">
						<img
							src="./src/images/webp/certificate-modal.webp"
							alt="" />
					</div>
				</div>
			</div>

			<div class="certificate-modal__arrows">
				<div class="certificate-modal-swiper__arrow prev">
					<img
						src="./src/images/svg/light-arrow.svg"
						alt="" />
				</div>
				<div class="certificate-modal-swiper__arrow next">
					<img
						src="./src/images/svg/light-arrow.svg"
						alt="" />
				</div>
			</div>
		</div>
	</div>
</div>

<!-- отзыв(файл подробнее) -->
<div class="modal feedback-image">
	<div class="modal__content modal__content--transparent">
		<div class="feedback-image__box">
			<div class="feedback-image__img">
				<button class="modal__close">
					<img
						src="./src/images/svg/close-btn-light.svg"
						alt="" />
				</button>
				<img
					src="./src/images/webp/feedback.webp"
					alt="" />
			</div>
		</div>
	</div>
</div>

<script src="./src/js/burger.js"></script>
<script src="./src/js/select-tab.js"></script>
<script src="./src/js/swipers.js"></script>
<script src="./src/js/modals.js"></script>
<script src="./src/js/form.js"></script>
<script src="./src/js/yandex-map.js"></script>
