$yellow: rgba(255, 217, 83, 1);
$black: #343333;
$light-gray: #f3f4f5;
$gray: #a9a9a9;
$red: #f63d37;
$white: rgba(255, 255, 255, 1);

@mixin text-hide {
	text-overflow: ellipsis;
	overflow: hidden;
	text-wrap: nowrap;
}

@mixin white-bg-yellow {
	background-color: $white;

	@media (hover: hover) {
		&:hover {
			background-color: $yellow;
		}
	}

	@media (max-width: 48em) {
		&:active {
			background-color: $yellow;
		}
	}
}

@mixin border($direction) {
	@if $direction == top {
		border-top: 1px solid $gray;
	} @else if $direction == bottom {
		border-bottom: 1px solid $gray;
	} @else if $direction == left {
		border-left: 1px solid $gray;
	} @else if $direction == right {
		border-right: 1px solid $gray;
	}
}

.increase-btn {
	@include white-bg-yellow;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: 5.6rem;
	height: 5.6rem;
	border-radius: 50%;
	background-color: $white;

	img {
		width: 2.4rem;
		height: 2.4rem;
		-o-object-fit: contain;
		object-fit: contain;
	}

	@media (max-width: 48em) {
		width: 4.8rem * 2;
		height: 4.8rem * 2;

		img {
			width: 2.4 * 2rem;
			height: 2.4 * 2rem;
			-o-object-fit: contain;
			object-fit: contain;
		}
	}
}

.details-btn {
	@include white-bg-yellow;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 18rem;
	height: 18rem;

	&__box {
		display: flex;
		gap: 0.4rem;
		align-items: center;
		flex-direction: column;
	}

	&__icon {
		width: 3.2rem;
		height: 3.2rem;

		img {
			width: 100%;
			height: 100%;
			-o-object-fit: contain;
			object-fit: contain;
		}
	}

	&__text {
		color: $black;
		font-size: 2rem;
		font-style: normal;
		font-weight: 500;
		line-height: 140%;
	}

	@media (max-width: 48em) {
		width: 12.8rem * 2;
		height: 12.8rem * 2;
		gap: 0.8rem;
		&__text {
			font-size: 3.2rem;
		}

		&__icon {
			width: 4.8rem;
			height: 4.8rem;
		}
	}
}

.link-btn {
	@include white-bg-yellow;
	display: flex;
	align-items: center;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	gap: 1rem;
	padding: 1.4rem 2.6rem;
	border-radius: 3rem;
	border: 1px solid $black;

	&__text {
		font-size: 2rem;
		font-weight: 500;
		line-height: 1.4;
	}

	&__icon {
		width: 2.4rem;
		height: 2.4rem;
		svg, img {
			width: 100%;
			height: 100%;
			-o-object-fit: contain;
			object-fit: contain;
		}
	}
	@media (max-width: 48em) {
		gap: 1.6rem;
		padding: 2.4rem 5.6rem;
		border-radius: 6rem;

		&__text {
			font-size: 3.2rem;
		}

		&__icon {
			width: 4.4rem;
			height: 4.4rem;
		}
	}
}

.request-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	cursor: pointer;

	&__box {
		padding: 1.4rem 3rem;
		border: 1px solid $white;
		border-radius: 3rem;
	}

	&__icon {
		background-color: $white;
		border-radius: 50%;
		width: 5.6rem;
		height: 5.6rem;
		display: flex;
		justify-content: center;
		align-items: center;

		margin-left: -0.8rem;

		svg {
			width: 2.4rem;
			height: 2.4rem;
			-o-object-fit: contain;
			object-fit: contain;
			path {
				fill: $black;
			}
		}
	}

	&__text {
		font-size: 2rem;
		font-style: normal;
		font-weight: 500;
		line-height: 140%;
		color: $white;
	}

	&--arrow {
		.request-btn__icon {
			background-color: $black;

			svg {
				path {
					stroke: $white !important;
					fill: $white !important;
				}
			}
		}

	}

	&--dark {
		.request-btn__box {
			border-color: $black;
		}

		.request-btn__icon {
			background-color: $black;

			svg {
				path {
					stroke: $black;
					fill: $white;
				}
			}
		}

		.request-btn__text {
			color: $black;
		}
	}

	@media (hover: hover) {
		&:hover {
			.request-btn__box {
				background-color: $yellow;
			}
			.request-btn__text {
				color: $black;
			}
		}
	}

	@media (max-width: 48em) {
		&__text {
			color: $black;
			font-size: 3.2rem;
		}

		&__box {
			padding: 2.4rem 5.6rem;
			border-color: $black;
			border-radius: 6rem;
		}

		&__icon {
			margin: 0;
			width: 9.2rem;
			height: 9.2rem;
			background-color: $black;

			svg {
				width: 4.4rem;
				height: 4.4rem;

				path {
					fill: $white;
				}
			}
		}
	}
}

.logo {
	display: block;
	cursor: pointer;
	width: 10rem;
	height: 5.8rem;

	img {
		-o-object-fit: contain;
		object-fit: contain;
		width: 100%;
		height: 100%;
	}

	@media (max-width: 48em) {
		width: 15rem;
		height: 8.8rem;
	}
}

.title1 {
	font-family: Akzidenz;
	font-size: 6rem;
	font-style: normal;
	font-weight: 700;
	line-height: 7.9rem;
	@media (max-width: 48em) {
		font-size: 6rem;
		line-height: 7.2rem;
	}
}

.title2 {
	font-family: Akzidenz;
	font-size: 3.5rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	@media (max-width: 48em) {
		font-size: 4.8rem;
		line-height: 5.6rem;
	}
}

.title3 {
	font-family: Akzidenz;
	font-size: 2.2rem;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	text-transform: uppercase;
	@media (max-width: 48em) {
		font-size: 3.6rem;
		line-height: 140%;
	}
}

.text1 {
	font-family: Gilroy;
	font-size: 2rem;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	@media (max-width: 48em) {
		font-size: 3.2rem;
	}
}

.text2 {
	font-family: Gilroy;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
	@media (max-width: 48em) {
		font-size: 3.2rem;
	}
}

.text3 {
	font-family: Akzidenz;
	font-size: 2rem;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	@media (max-width: 48em) {
		font-size: 3.2rem;
	}
}

.text4 {
	font-family: Gilroy;
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	@media (max-width: 48em) {
		font-size: 3.2rem;
		line-height: 4rem;
	}
}

.text5 {
	font-family: Akzidenz;
	font-size: 3.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	@media (max-width: 48em) {
		font-size: 4.8rem;
	}
}

.section {
	padding-bottom: 16rem;
	overflow: hidden;
	position: relative;

	&__head {
		align-items: flex-start;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 160rem;
		margin: 0 auto;
		margin-bottom: 3.9rem;

		&-title {
			text-transform: uppercase;
			padding-left: 2.8rem;
			position: relative;
			color: $black;
			&::before {
				position: absolute;
				content: '';
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 1.2rem;
				height: 1.2rem;
				border-radius: 50%;
				background-color: $black;
			}
		}
		&-discription {
			width: 74rem;

			strong {
				display: block;
				font-weight: 700;
			}
		}

		@media (max-width: 48em) {
			padding-left: 3.2rem;
			margin-bottom: 6.4rem;
			flex-direction: column;
			align-items: flex-start;
			gap: 4.8rem;

			&-title {
				padding-left: 3.2rem;
				&::before {
					width: 1.6rem;
					height: 1.6rem;
				}
			}
			.link-btn {
				display: none;
			}
		}
	}

	&__arrows {
		display: block;

		&--mobile {
			display: none;
		}
	}
	@media (max-width: 48em) {
		padding-bottom: 20rem;

		&__head {
			width: 100%;
			&-discription {
				width: 34.3rem * 2;
			}
		}
		&__arrows {
			display: none;

			&--mobile {
				display: block;
			}
		}
	}
}

.tab {
	&__box {
		display: none;
		&.active {
			display: flex;
		}
	}
}

.fraction {
	color: rgba(255, 255, 255, 0.6) !important;
	.swiper-pagination-current {
		color: $white !important;
		position: relative;
		padding-left: 1.8rem;
		&::before {
			content: '0';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.swiper-pagination-total {
		position: relative;
		padding-left: 1.8rem;
		&::before {
			content: '0';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&--dark {
		color: rgba(52, 51, 51, 0.5) !important;

		.swiper-pagination-current {
			color: $black !important;
		}
	}

	@media (max-width: 48em) {
		.swiper-pagination-current {
			padding-left: 3rem;
			padding-bottom: 0.1rem;
		}
		.swiper-pagination-total {
			padding-left: 3rem;
			padding-bottom: 0.1rem;
		}
	}
}

.paggination-arrow {
	cursor: pointer;
	width: 4rem;
	&.swiper-button-disabled {
		opacity: 0.5;
		cursor: default;
	}

	svg {
		width: 100%;
		-o-object-fit: contain;
		object-fit: contain;
	}

	@media (max-width: 48em) {
		width: 4.4rem;
		height: 4.4rem;
	}
}

.paggination-arrows {
	display: flex;
	align-items: center;
	gap: 2.4rem;
	position: static !important;

	&--mobile {
		display: none;
	}

	@media (max-width: 48em) {
		margin-left: 3.2rem;
		margin-top: 4.8rem;

		.certificate__pagination {
			display: flex;
			gap: 3.8rem;
		}
	}
}
