.hero {
	background-color: $black;
	position: relative;
	display: flex;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.32;
		background-image: url('../images/webp/bg-sharping.webp');
		background-size: contain;
		z-index: 1;
	}

	&__img {
		height: 18.3rem;
		width: 64.8rem;
		border-radius: 100rem;
		margin-bottom: 6.6rem;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}

	&__box {
		z-index: 6;
		position: absolute;
		left: 16rem;
		top: 17rem;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		height: 79.4rem;
		pointer-events: none;
	}

	&__stats {
		bottom: 12.7rem;
		display: flex;
		align-items: center;
		gap: 8rem;
		position: absolute;
		&-link {
			width: 18.9rem;
			height: 18rem;
			padding: 1.8rem;
			pointer-events: all;
			background-color: $yellow;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $black;
			text-align: center;

			span {
				display: block;
			}
		}

		&-list {
			display: flex;
			align-items: flex-start;
			gap: 3.6rem;
		}
		&-item {
			display: flex;
			gap: 2.4rem;
			flex-direction: column;
			max-width: 14.4rem;
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: fit-content;

			strong {
				color: $white;
			}

			span {
				color: rgba(255, 255, 255, 0.6);
			}
		}
	}

	&__title-block {
		max-width: 139.5rem;
		span {
			color: $yellow;
			display: inline-block;
			width: 15.6rem;
			margin-right: 2.3rem;
			margin-left: 0.4rem;
		}

		p {
			display: inline;
			color: $white;
		}
	}

	&__infoblock {
		position: absolute;
		left: 0;
		bottom: 12.7rem;
		width: 63.6rem;
		border-radius: 0 100rem 100rem 0;
		padding: 3.9rem 6.4rem 2.8rem 6.6rem;
		background-color: rgba(52, 51, 51, 0.32);
		-webkit-backdrop-filter: blur(0.9rem);
		backdrop-filter: blur(0.9rem);
		z-index: 11;
		color: $white;
		overflow: hidden;
	}
	&__bg-message {
		position: absolute;
		left: -5rem;
		bottom: -5rem;
		font-family: Akzidenz;
		font-size: 40rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		color: transparent;
		-webkit-text-stroke: 1px rgba(255, 255, 255, 0.06);
		text-stroke: 1px rgba(255, 255, 255, 0.06);
		display: inline-block;
	}
	&__swiper {
		width: 96rem;
		height: 96.4rem;
		margin-left: auto;
		position: relative;
		z-index: 5;

		&-item {
			width: 100%;
			height: 100%;

			position: relative;

			&::after {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
						0deg,
						rgba(0, 0, 0, 0.2) 0%,
						rgba(0, 0, 0, 0) 11.72%
					),
					linear-gradient(
						271deg,
						rgba(0, 0, 0, 0.2) 10.27%,
						rgba(0, 0, 0, 0) 28.28%
					),
					linear-gradient(
						180deg,
						rgba(0, 0, 0, 0.2) 14.26%,
						rgba(0, 0, 0, 0) 24.38%
					),
					
			}

			img {
				width: 100%;
				height: 100%;
				-o-object-fit: cover;
				object-fit: cover;
			}
		}

		&-navigation {
			display: flex;
			align-items: center;
			gap: 2.4rem;
			&-arrow {
				width: 4rem;
				height: 4rem;
				cursor: pointer;

				svg {
					width: 100%;
					height: 100%;
				}
			}
		}

		&-fraction {
			// color: rgba(255, 255, 255, 0.6) !important;
			// .swiper-pagination-current {
			// 	color: $white !important;
			// 	position: relative;
			// 	padding-left: 1.8rem;
			// 	&::before {
			// 		content: '0';
			// 		position: absolute;
			// 		left: 0;
			// 		top: 50%;
			// 		transform: translateY(-50%);
			// 	}
			// }
			// .swiper-pagination-total {
			// 	position: relative;
			// 	padding-left: 1.8rem;
			// 	&::before {
			// 		content: '0';
			// 		position: absolute;
			// 		left: 0;
			// 		top: 50%;
			// 		transform: translateY(-50%);
			// 	}
			// }
		}

		&-pagination {
			position: absolute;
			bottom: 5.2rem;
			left: 6.4rem;
			display: flex;
			gap: 29.5rem;
			align-items: center;
			z-index: 20;
		}
	}

	@-webkit-keyframes rotate {
		from {
			transform: rotate(360deg);
		}
	}

	@keyframes rotate {
		from {
			transform: rotate(-360deg);
		}
	}
	@-webkit-keyframes minus-rotate {
		from {
			transform: rotate(360deg);
		}
	}
	@keyframes minus-rotate {
		from {
			transform: rotate(360deg);
		}
	}

	&.about-us {
		.hero {
			&__box {
				width: 98.8rem;
				height: -webkit-fit-content;
				height: -moz-fit-content;
				height: fit-content;
				position: absolute;
				top: 27.9rem;
				left: 16rem;
				color: #fff;
				z-index: 4;
				pointer-events: all;

				&-subtitle {
					font-weight: 300;
					color: #fff;
				}

				&-title {
					margin-top: 5.6rem;
					margin-bottom: 1.5rem;
					text-transform: uppercase;
					color: #d9d9d9;
				}

				.request-btn {
					margin-top: 4rem;
				}
			}
			&__img {
				z-index: 3;
				margin-top: 15rem;
				margin-left: auto;
				margin-right: 16rem;
				margin-bottom: 10.5rem;
				width: 74rem;
				height: 71rem;
				border-radius: 0;
				position: relative;
				overflow: visible;

				&::after {
					content: '';
					position: absolute;
					width: 18rem;
					height: 18rem;
					border-bottom: 1px solid white;
					border-right: 1px solid white;
					opacity: 0.6;
					right: -2rem;
					bottom: -2rem;
				}

				&::before {
					content: '';
					position: absolute;
					width: 18rem;
					height: 18rem;
					border-top: 1px solid white;
					border-left: 1px solid white;
					opacity: 0.6;
					left: -2rem;
					top: -2rem;
				}

				&-decor {
					width: 20.5rem;
					height: 20.6rem;
					position: absolute;
					bottom: -8.7rem;
					left: -10.3rem;
					-webkit-animation: rotate 20s linear infinite;
					animation: rotate 20s linear infinite;

					img {
						width: 100%;
						height: 100%;
						-o-object-fit: contain;
						object-fit: contain;
					}
				}
			}
		}
	}

	@media (max-width: 48em) {
		height: 97.9rem * 2;

		&__swiper {
			top: 15.9rem * 2;
			position: absolute;
			width: 100%;
			height: 47.1rem * 2;

			&-navigation {
				width: 100%;
				justify-content: space-between;
				.hero__swiper-navigation-arrow {
					width: 4.4rem;
					height: 4.4rem;
				}
			}

			&-pagination {
				gap: 2.8rem;
				flex-direction: column;
				left: auto;
				right: 3.2rem;
				bottom: 5.4rem;
			}

			.main-hero-swiper {
				height: 100%;
			}
		}

		&__infoblock {
			bottom: 11.4rem * 2;
			width: 100%;
		}

		&__img {
			display: none;
		}

		&__box {
			left: 0;
			top: 9.2rem * 2;
			bottom: auto;
			height: 100%;
		}

		&__title-block {
			margin-left: 3.2rem;
			.text2 {
				width: 100%;
				margin: 0;
				margin-bottom: 1.6rem;
			}

			.title1 {
				text-transform: uppercase;
			}
		}

		&__stats {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
			bottom: auto;
			top: 84.7rem;
			gap: 8rem;

			&-item {
				gap: 2.4rem;
				max-width: 60%;
				width: 60%;
				align-items: center;
			}

			&-list {
				width: 100%;
				align-items: center;
				display: flex;
				flex-direction: column;
				gap: 8rem;
			}

			&-link {
				width: 12rem * 2;
				height: 11.4rem * 2;
			}
		}

		&__bg-message {
			top: 8.4rem;
			left: 0.2rem;
			bottom: auto;

			font-size: 32rem;
		}

		&.about-us {
			flex-direction: column;
			height: -webkit-fit-content;
			height: -moz-fit-content;
			height: fit-content;
			.hero {
				&__box {
					width: 100%;
					height: -webkit-fit-content;
					height: -moz-fit-content;
					height: fit-content;
					position: static;
					padding-top: 9.2rem * 2;
					padding-left: 3.2rem;
					padding-right: 3.2rem;

					.request-btn {
						&__box {
							border-color: #fff;
						}

						&__text {
							color: #fff;
						}

						&__icon {
							background-color: #fff;

							svg {
								path {
									fill: $black;
								}
							}
						}
					}

					&-title {
						margin-top: 1.6rem;
						margin-bottom: 4rem;
					}

					.request-btn {
						margin-top: 4rem;
					}
				}
				&__img {
					display: block;
					z-index: 3;
					margin: 0;
					margin-top: 6.2rem;

					width: 100%;
					height: 34.9rem * 2;

					&::after {
						display: none;
					}

					&::before {
						display: none;
					}

					&-decor {
						display: none;
					}
				}
			}
		}
	}
}
